<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container-fluid text-center">
   <H1>Welcome</H1>
    <div class="mr-2">
        <a class="h3" href="/list_sub_cate" >List Sub_cate</a>
    </div>
    <div class="mr-2">
        <a class="h3" href="/list_product" >List Product</a>
    </div>

</div>
</body>
</html>